---
import { format, parseJSON } from 'date-fns';

const { blogPost } = Astro.props;

const { url } = blogPost;
const { heroImage: postImage, title, author, publishDateRaw, description } = blogPost.frontmatter;
---

<style>
.inner-container {
  @apply grid md:grid-cols-12 gap-6 md:gap-8;
}

.post-image-container {
  @apply aspect-w-16 aspect-h-10 mb-0 md:mb-6;
}

.content-container {
  @apply md:col-span-8;
}
</style>

<a href={url}>
  <div class="inner-container">
    <div class="md:col-span-4">
      <div class="post-image-container">
        <img src={postImage} alt="" class="object-cover rounded-md shadow-md">
      </div>
    </div>

    <div class="content-container">
      <div class="mb-3">
        <h2 class="text-black dark:text-white text-2xl lg:text-3xl font-bold mb-2">
          {title}
        </h2>

        <div class="flex flex-col md:flex-row space-y-1 md:space-x-8 items-baseline">
          <h5 class="text-black dark:text-white text-base font-medium">
            {author}
          </h5>

          <h6 class="text-black dark:text-white text-sm font-normal opacity-75 md:opacity-100">
            {format(parseJSON(publishDateRaw), 'MMMM d, yyyy')}
          </h6>
        </div>
      </div>

      <h5 class="text-black dark:text-white text-sm md:text-base">{description}</h5>
    </div>
  </div>
</a>
