---
import AppBar from '../components/AppBar.astro';

const { content, ...rest } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{content.title} - Christian Jabasa&#124;s Blog</title>

    <!-- General SEO -->
    <meta name="application-name" content="Christian Jabasa">
    <meta name="title" content={content.title}>
    <meta name="description" content={content.description}>
    <meta name="keywords" content="Christian,Jabasa,Software,Engineer,Developer">
    <meta name="author" content="Christian Jabasa">

    <!-- OpenGraph SEO -->
    <meta property="og:title" content={`${content.title} | Christian Jabasa's Blog`} />
    <meta property="og:description" content={content.description} />
    <meta property="og:image" content={content.heroImage} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href={Astro.resolve("../assets/styles/global.css")} >
    <link rel="stylesheet" href={Astro.resolve("../assets/styles/blog-post.css")} >

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    >
  </head>

  <body class="dark:bg-black dark:text-white">
    <header>
      <div class="container mx-auto">
        <AppBar />
      </div>
    </header>

    <main class="container mx-auto slot-container pt-6">
      <div class="flex flex-row justify-center px-6">
        <div class="w-full lg:w-8/12 flex flex-col mb-8">
          <div class="aspect-w-16 aspect-h-10">
            <img src={content.heroImage} class="object-cover rounded-md shadow-md" />
          </div>
        </div>
      </div>

      <div class="flex flex-row justify-center px-6">
        <div class="blog-post-container-col">
          <div class="mb-8">
            <h2 class="post-title">{content.title}</h2>

            <div class="flex flex-row space-x-8 items-baseline">
              <h5 class="post-author">{content.author}</h5>

              <h6 class="post-timestamp">{content.publishDate}</h6>
            </div>
          </div>

          <slot />
        </div>
      </div>
    </main>

    <div class="footer-container">
      <div class="flex flex-row justify-center py-4">
        <h5 class="text-white text-sm font-medium">
          Made with ❤️ in Bacolod City, PH
        </h5>
      </div>
    </div>
  </body>
</html>

<style>
  .slot-container {
    min-height: calc(100vh - 64px);
    @apply pb-16;
  }

  .blog-post-container-col {
    @apply w-full lg:w-7/12 flex flex-col;
  }
</style>
